<html>
<head>
  <title>Hub - Admin</title>
  <link rel="stylesheet" href="/css/hub.css" type="text/css" media="screen" />
</head>
<body>

<h1>Webglue administration</h1>

<h2>Topics</h2>
<table>
  <thead>
    <th>ID</th>
    <th>Created</th>
    <th>Updated</th>
    <th>Actions</th>
  </thead>
<% topics.each do |topic| %>
  <tr>
    <td><%= topic[:id] %></td>
    <td><%= topic[:created].to_s %></td>
    <td><%= topic[:updated].to_s %></td>
    <td>
      <a href="<%= WebGlue::Topic.to_url(topic[:url]) %>">Download feed</a>
      <a href="/admin/topics/<%= topic[:id] %>">Subscribers</a>
    </td>
  </tr>
<% end %>
</table>
</body>
</html>

