<html>
<head>
  <title>Subscribers</title>
  <link rel="stylesheet" href="/css/hub.css" type="text/css" media="screen" />
</head>
<body>
<h1>Topic</h1>
<%= erb :_menu %>

<table>
  <tr>
    <th>URL</th>
    <td><%= WebGlue::Topic.to_url(topic[:url]) %></td>
  </tr>
  <tr>
    <th>Created</th>
    <td><%= topic[:created].to_s %></td>
  </tr>
  <tr>
    <th>Updated</th>
    <td><%= topic[:updated].to_s %></td>
  </tr>
</table>
<h2>Subscriptions</h2>
<table>
  <thead>
    <th>Verification Mode</th>
    <th>Verified?</th>
    <th>Created</th>
    <th>Subscriber URL</th>
  </thead>
<% subscriptions.each do |subscription| %>
  <tr>
    <td><%= subscription[:vmode] %></td>
    <td><%= (subscription[:state] == 0 ? "yes" : "no") %></td>
    <td><%= subscription[:created].nil? ? "" : subscription[:created] %></td>
    <td><%= WebGlue::Topic.to_url(subscription[:callback]) %></td>
  </tr>
<% end %>
</table>

</body>
</html>
